body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f3f5f200;
}
h1 {
  text-align: center;
  color: #f80707;
}
p{
  text-align: center;
  font-size: 18px;
  color: #050505;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
table, th, td {
  border: 1px solid #ddd;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
  text-align: center;
}
td {
  text-align: center;
}
